:root {
	--sidebar-width1: 300px;
	--sidebar-width: 290px;
	--sidebar-width2: -290px;
	
	--record-content-width1: 640px;
	--record-content-width2: -610px;
	--record-content-width: 595px;
	
	--record-content-left-width: 208px;
}

@font-face {
	font-family:anticon;
	src:url("https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot");
	src:url("https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix") format("embedded-opentype"),url("https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff") format("woff"),url("https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf") format("truetype"),url("https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont") format("svg")
}
.anticon {
	display:inline-block;
	font-style:normal;
	vertical-align:baseline;
	text-align:center;
	text-transform:none;
	line-height:1;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


body{
    background: #f5f8fa;
    color: #5e5d5d; 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
}

body a {
	color: #108ee9;
    background: transparent;
    outline: none;
    cursor: pointer;
    text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

button {
	border: 0;
}

.header {
	background-color: #3095d3;
	height: 60px;
	box-shadow: 0 1px 2px 2px #898989;
}

.sticky {
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
    z-index: 20;
	width: 100%;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 990px;
	}
	:root {
		--record-content-width1: 450px;
		--record-content-width2: -425px;
		--record-content-width: 408px;
	}
}
@media (min-width: 1170px) {

	:root {
		--record-content-width1: 640px;
		--record-content-width2: -610px;
		--record-content-width: 595px;
	}
	.container {
		width: 1170px;
	}
	.main-sidebar {
		display: block;
	}
}

.header-logo {
	float: left;
	padding: 0;
}

.header-logo a {
	display:block;
}

.header-logo #logo {
	margin: 5px 15px 2px 0;
	width:52px;
	height:52px;
}

.header-logo #bigname {
	margin: 10px 0 10px;
	height: 34px;
	width: 143px;
}

.header-right {
	float: right;
}

.top-search {
	position: relative;
	float: left;
	margin: 15px 0;
}

.search-input-box {
	display: inline-block;
    height: 32px; 
    line-height: 150%;
    min-width: 340px;
    max-width: 700px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 4px 40px 7px 10px;
	border-radius: 12px;
	border: 2px solid #aadfff; 
	color: #9ba9b3;
	background: #fcfcfc;
	white-space:nowrap;
    overflow: hidden;
	outline: 0;
	font-size: 14px;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
}

.search-input-box:hover, .search-input-box:active{
	background: #ffffff;
	border-color:#cfecfe;
	box-shadow: 0 1px 5px #b2cedf;
}

.search-input-box p { margin: 0; }

.search-input-box ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
}

.search-input-box ul li {
	position: relative;
	float: left;
	display: block;
	margin-right: 5px;
	padding: 3px 15px 3px 5px;
	height: 22px;
	line-height: 100%;
	border: 1px solid #cfd0d0; 
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	color: #6c6d6e;
	background: #f8f8f8;
}

.search-input-box ul li span {
	font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ##color: #515050;
    line-height: inherit;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    display: inline-block;
    font-size: 12px;
    -webkit-transform: scale(.66666667) rotate(0deg);
    -ms-transform: scale(.66666667) rotate(0deg);
    transform: scale(.66666667) rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1;
    position: absolute;
    right: 2px;
    padding: 0 0 0 5px;
}
.search-input-box ul li span:before {
	display: block;
    font-family: anticon!important;
	content: "\E633";
}

.search-input-box input {
	border: 0;
	background: transparent;
    outline: medium;
    width: 200px;
    margin-right: 30px;
    white-space:nowrap;
    overflow: hidden;
}

.top-search-icon {
	position: absolute;
	top: 7px;
	right: 10px;
	display: block;
	width: 16px;
	height: 16px;
	border: 0;
	background: url(../images/searchIcon.png) repeat 0px 0px;
}

.top-portrait {
	float: right;
	margin: 8px 1px 6px 10px;
}

.top-portrait img {
	width: 40px;
	height: 45px;
}

.top-pop-menu {
	position: absolute;
	display: none;
	width: 120px;
}

.top-pop-menu ul {
	margin: 6px 0 0 ;
	padding: 0;
	list-style-type: none;
}

.top-pop-menu ul li {
	display: block;
	padding: 12px 8px;
	height: 40px;
	line-height: 100%;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	border-top: 1px solid #0986d2;###167bb9;
	background: #3095d3;
}

.top-pop-menu ul li:last-child {
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	box-shadow: 0 2px 1px #a5a6a6;
}

.top-pop-menu ul li:first-child {
	border: 0;
}

.top-pop-menu ul li span:first-child {
	padding-right: 31px;
}

.main {
	min-height: 340px;
    position: relative;
    top: 72px;
    z-index: 2;
    clear: both;
}

.clearfix:after {
	clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.main-content {
	float: left;
	padding: 20px 0 30px;
	width: 100%;
}

.main-content-inner {
	position: relative;
	margin: 0 var(--sidebar-width1) 0 0;
	border-radius: 6px;
	border: 1px solid #dce2e7;
}

.main-sidebar {
	##position: relative;
	position: fixed;
	##float: left;
	##margin: 20px 0 0 var(--sidebar-width2);
	##right: 100px;
	top: 92px;
	width: var(--sidebar-width);	
}

.main-input {
	position: relative;
	min-height: 152px;
	background: #e8f5fd;
	border-radius: 6px;
}

.main-input-content {
	float: left;
	width: 100%;
}

.input-head {
	position: relative;
	margin: 0px var(--record-content-width1) 0 20px;
}

.input-record-labels {
	position: relative;
	float: left;
	margin: 10px 0px 15px 0;
	padding-right: 25px;
	width: var(--record-content-left-width);
}

.input-head img {
	width: 155px;
	height: 97px;
	margin-top: 42px;
}

.input-head div:first-child {
	margin-top: 20px;
}

.input-area {
	float: left;
	margin: 12px 15px 15px var(--record-content-width2);
	width: var(--record-content-width);
}

.input-area-buttons {
	margin-left: auto; 
}

.input-area-buttons ul {
	float: right;
	margin: 0 -6px 3px 0;
	padding: 0;
	list-style-type: none;
}
.input-area-buttons ul li {
	float: left;
	display: block;
	margin-right: 3px;
	min-width: 37px;
	height: 37px;
	line-height: 37px;
	border: none;
	text-align: left;
	cursor: pointer;
}

.record-saveDisableBtn {
	background-color: transparent;
	background: url(../images/saveDisable.png) no-repeat 0px 0px;
}

.input-area-buttons button {
	margin-left: 8px;
	width: 37px;
	height: 37px;
}

.input-area-box {
	margin: 3px 0 0;
}

.main-records {
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.main-records .record {
	padding: 0 15px 0 20px;
	border-top: 1px solid #dce2e7;
}

.main-records .record-edit {
	padding: 0 15px 0 20px;
	border-top: 1px solid #dce2e7;
	background-color: #f5f8fa;
}

.textbox {
	width: 100%; 
	min-height: 83px; 
    max-height: 500px;
    _height: 83px; 
    line-height: 150%;
    margin-left: auto; 
    margin-right: auto; 
    padding: 2px 15px 2px 2px; 
    outline: 0; 
    border: 1px solid #aadfff; 
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
	font-size: 14px;
	background-color: #ffffff;
}

.testbox p { margin: 0; }

.record .record-head {
	margin: 20px auto 0 var(--record-content-left-width);
}

.record-edit .record-head {
	margin: 13px auto 0 var(--record-content-left-width);
}

.record-time {
	color: #959292;
}

.record .record-button {
	position: relative;
	float: right;
	height: 14px;
}

.record-edit .record-time {
	float: left;
	margin: 8px 0 auto 0; 
}

.record-edit .record-button {
	position: relative;
	float: right;
	height: 37px;
}

.record-button .more-btn-up:before {
	color: #a7b3be;
    font-family: anticon!important;
	content: "\E61E";
}

.record-button .more-btn-down:before {
	color: #a7b3be;
    font-family: anticon!important;
	content: "\E61D";
}

.record-button ul {
	margin: 0;
	padding: 0;
	margin-right: -8px;
	list-style-type: none;
}
.record-button ul li {
	float: left;
	display: block;
	margin-right: 3px;
	min-width: 37px;
	height: 37px;
	line-height: 37px;
	border: none;
	text-align: left;
	cursor: pointer;
}

.record-saveBtn {
	background-color: transparent;
	background: url(../images/saveUsable.png) no-repeat 0px 0px;
}
.record-saveBtn:hover {
	background-color: transparent;
	background: url(../images/saveUsable2.png) no-repeat 0px 0px;
}

.record-saveBtn:active {
	background-color: transparent;
	background: url(../images/saveClick.png) no-repeat 0px 0px;
}

.record-deleteBtn {
	background-color: transparent;
	background: url(../images/deleteUsable1.png) no-repeat 0px 0px;
}

.record-deleteBtn:hover {
	background: url(../images/deleteUsable2.png) no-repeat 0px 0px;
}

.record-deleteBtn:active {
	background: url(../images/deleteClick.png) no-repeat 0px 0px;
}

.record-attachmentBtn {
	background-color: transparent;
	background: url(../images/attachUsable.png) no-repeat 0px 0px;
}

.record-attachmentBtn:hover {
	background: url(../images/attachUsable2.png) no-repeat 0px 0px;
}

.record-attachmentBtn:active {
	background-color: transparent;
	background: url(../images/attachClick.png) no-repeat 0px 0px;
}

.load-block {
	height: 38px;
	line-height: 38px;
	text-align: center;
}

.load-block img {
	margin-top: 3px;
}


.record-container {
	width: 100%;
	clear: both;
}

.record-container .record-labels {
	position: relative;
	float: left;
	margin: 5px 0px 15px 0;
	padding-right: 25px;
	width: var(--record-content-left-width);
}

.record-labels div {
	margin: 0;
	padding: 0;
}

.record-labels > div {
	float: left;
}

.record-labels .usual-label-icon-div,
.usuallabels-labels .usual-label-icon-div {
	position: relative;
	float: right;
	padding-right: 20px;
}

.record-labels .usual-label-icon-div + span,
.usuallabels-labels .usual-label-icon-div + span {
	margin-right: 2px;
}

.record-labels .usual-label-icon-div .usual-icon,
.usuallabels-labels .usual-label-icon-div .usual-icon {
	position: absolute;
	transition: all .5s;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.record-labels .usual-label-icon-div .usual-icon:before, 
.usuallabels-labels .usual-label-icon-div .usual-icon:before {
	font-size: 12px;
    font-size: 0.75rem;
    color: #1da1f3;
    content: "\E660";
}

.record-labels .usual-label-icon-div .usual-icon:hover,
.usuallabels-labels .usual-label-icon-div .usual-icon:hover {
	font-size: 14px;
    font-size: 0.875rem;
    color: #5fc2ff;
    -webkit-transform:scale(1.4);-ms-transform:scale(1.4);transform:scale(1.4);
	display:block;
}

.record-labels .usual-label-icon-div .usual-text,
.usuallabels-labels .usual-label-icon-div .usual-text {
	position: absolute;
	padding-left: 2px;
	margin: 0;
	display: none;
	color: #a5a5a5;
	transition: 1s;
}

.record-labels .usual-label-icon-div .usual-icon:hover + .usual-text,
.usuallabels-labels  .usual-label-icon-div .usual-icon:hover + .usual-text {
	position: absolute;
	top: -20px;
	left: -10px;
	width: 100px;
	display: block;
	font-size: 12px;
    font-size: 0.75rem;
    font-weight: 200;
}

.label {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 6px;
	padding: 2px 10px;
	height: 30px;
	line-height: 150%; 
	border: 1px solid #2a7eb1;
	border-radius: 8px;
	box-shadow: inset 1px 1px 2px rgba(112,182,226,.3), 0 1px 0 rgba(57,127,170,.3);
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-align:center;
	font-size: 16px;
}

/**##弹出框 标签菜单、标签输入提示框等的基础css**/
.pop-box {
	position: absolute;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 1px 6px #5398c2;
	z-index:210000; 
	background: #ffffff;
}

.pop-box ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pop-box ul li {
	display: block;
	border: none;
	letter-spacing: 2px;
	font-size: 14px;
	color: #515050;
	cursor: pointer;
}

.label-box {
	min-width: 180px;
	display: none;
}

.label-box ul li {
	padding: 0 10px;
	line-height: 35px;
	letter-spacing: 2px;
	text-align: left;
}

.label-box ul li:first-child {
	background: #eff9ff;
}

.tip {
	position: absolute;
	max-width: 180px;
	overflow: hidden;
	display:none;
	z-index:210000; 
}

.tip-box {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 6px #5398c2;
    color: #515050;
    margin: 8px; 
    padding: 8px 8px;
    background: #eff9ff;###fcfdfe;##f8fcfe;
}

.tip-box:before,
.tip-box:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    content: "";
}

.down:before {
    border-top-color: #c2e1f5;
    border-width: 9px;
   	left: 49%;
    margin-left: -8px;
    top: 100%;
}

.down:after {
    border-top-color: #eff9ff;
    border-width: 7px;
   	left: 50%;
    margin-left: -7px;
    top: 100%;
}

.label-menu-box {
	display:none;
	width: 90px;
	height:105px;
	text-align: center;
}

.label-menu-box ul li {
	line-height: 35px;
	letter-spacing: 2px;
}

.label-menu-box ul li:hover {
	background: #eff9ff;
}

.label-menu-box ul li:last-child span:first-child {
	padding-right: 16px;
}

.label2 {
	width: 56px;
}

.label4 {
	width: 94px;
}

.label-live {
	cursor: pointer;
}

.label-colorful {
	border: 1px solid #d3d4d5;
	border-radius: 8px;
	box-shadow: inset 1px 1px 2px rgba(186,188,190,.3), 0 1px 0 rgba(164,165,165,.3);
	color: #ffffff;
}

.record .record-content {
	position: relative;
	float: left;
	margin: 5px 0px 15px;
	padding-right: 25px;
	width: var(--record-content-width);
}

.record-edit .record-content {
	position: relative;
	float: left;
	margin: 3px 0px 15px;
	width: var(--record-content-width);
}

.record-container p {
	margin: 0;
	padding: 0;
	line-height: 21px;
	word-wrap: break-word; 
	word-break: normal; 
}

.sidebar-block {
	padding: 0;
	margin-bottom: 15px;
	border-radius: 6px;
	border: 1px solid #dce2e7;
}

.info-block {
	height: 194px;
}

.sidebar-block .block1 {
	height: 48%;
	background: url(../images/logo2.svg) no-repeat 130px -20px;
	clear: both;
}

.sidebar-block .block1 div{
	position: relative;
	float: left;
}

.tip-img {	
	margin: 32px 5px auto 15px;
	width: 30px;
}

.tip-message {
	margin: 32px 0 auto;
	line-height: 30px;
	color: #2d9ee3;
	font-size: 16px;
}

.sidebar-block .block2 {
	border-top: 1px solid #dce2e7;
	border-radius: 0 0 6px 6px;
	border-bottom: 0;
	height: 52%;
	background: #ffffff;
}

.info-log-label {
	margin: 38px 5px auto 20px;
	clear: both;
}

.info-log {
	float: left;
	margin-right: 20px;
	background: url(../images/logIcon.svg) no-repeat 0px 0px;
}

.info-label {
	float: left;
	padding-left: 5px;
	background: url(../images/labelIcon.svg) no-repeat 0px 0px;
	
}

.info-log-label .info-name {
	margin-left: 35px;
	line-height: 30px;
}

.info-log-label .info-num {
	margin: 0px 5px 0 8px;
	color: #1da1f2;
}

.usuallabels-block {
	padding: 30px 177px 20px 20px;
	background: #ffffff;
}

.usuallabels-labels {
	width: 260px;
	padding: 20px 0 20px 0;
}

.usuallabels-labels > div {
	float: left;
	##display: inline;
}

.usualLabels-line {
	margin-bottom: 12px;
}

.usual-label {
	margin-bottom: 12px;
	cursor: pointer;
}

.arrow_box {
    position: relative;
    border: 1px solid #99d5fa;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 2px #5398c2;
    margin: 5px 10px 18px -10px; 
    padding: 10px 10px 0;
    background: #f8fcfe;
    cursor: pointer;
}

.arrow_box:hover {
	box-shadow: 0 1px 4px #146fa6;
}

.arrow_box:before,
.arrow_box:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: solid transparent;
    content: "";
}

.arrow_box.up:before {
	border-bottom-color: #c2e1f5;
    border-width: 9px;
   	left: 89px;
    margin-left: -10px;
    bottom: 100%;
}

.arrow_box.up:after {
	border-bottom-color: #f8fcfe;
    border-width: 7px;
   	left: 91px;
    margin-left: -10px;
    bottom: 100%;
}

.relative-labels {
	margin: 0px 10px 18px -10px; 
	padding: 10px 10px 0;
	border: 1px solid #99d5fa;
	border-radius: 8px;
	background: #f7fcfe;
	cursor: pointer;
}

.relative-labels:hover {
	border: 1.5px solid #1da1f2;
	border-radius: 8px;
	background: #f3fbff;
}


.copyright-block {
	font-size: 12px;
	color: #5f6c76;
	height: 40px;
}

.copyright-block span {
	padding-left: 6px;
	line-height: 40px;
	color: #5f6c76;
}


/***home page css begin***/
.header-home {
	background-color: #ffffff;
	height: 70px;
	box-shadow: 0 1px 1px 0 #dadada;
}

.header-home-logo {
	float: left;
	padding: 0;
	height: 70px;
}

.header-home-logo a {
	display:block;
}

.header-home-logo #logoHome {
	margin: 6px 15px 2px 0;
	width:60px;
	height:60px;
}

.header-home-logo #bignameHome {
	margin: 5px 0 18px;
	height: 30px;
	width: 120px;
}

.header-home-right {
	float: right;
	font-size: 16px;
	margin: 27px 1px 0 0;
}

.header-home-right a:first-child {
	color: #3095d3;
	margin: 0 5px;
}

.header-home-right a:last-child {
	color: #3095d3;
	margin-left: 5px;
}
.main-home {
	margin-top: 1px;
	box-shadow: 2px 0 3px 0 #dadada;
}
.main-home-block1 {
	width: 100%;
	height: 630px;
	background: url(../images/homeBg.png) no-repeat -120px 0px;
	background-color: #3095d3;
}
.main-home-container {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.home-title {
    position: relative;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
}

.home-title h1 {
	font-size: 32px;
    font-size: 2rem;
    line-height: 42px;
    line-height: 2.625rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}
.home-title p {
	font-family: "webfont",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 20px;
    line-height: 1.25rem;
    text-align: center;
    color: #fff;
    margin: 10px 0;
    -webkit-font-smoothing: antialiased;
}

.home-title .home-title-start  {
    margin-top: 100px;
    -webkit-font-smoothing: antialiased;
}

.home-title div {
	margin-top: 20px;
	text-align: center;
}

.home-title a {
	display: block;
    color: #ffffff;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 20px;
    line-height: 1.25rem;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.home-title a:hover {
    color: #0e5580;
}

.home-title a:active {
	color: #0e5580;
	text-decoration: none;
}
.main-home-block2 {
	margin: 40px 0;
}

.main-home-infoitems {
	width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.main-home-infoitem {
	position: relative;
    padding: 45px 0;
    overflow: hidden;
    max-width: 100%;
}

.img-on-left .home-infoitem-img{
	float: left;
}

.img-on-left .home-infoitem-note{
	left: 50%;
}

.img-on-right .home-infoitem-img{
	float: right;
}

.home-infoitem-img {
	width: 50%;
    height: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.home-infoitem-img.radio {
	padding-top: 28%;
	width: 45%;
	background-image: url(../images/introRadio.png);
	border: 10px solid #ffffff;
	border-radius: 12px;
	box-shadow: 1px 1px 30px #d3d2d2;
	margin-left: 30px;
}

.home-infoitem-note {
	width: 50%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 60px;
}

.home-infoitem-note h2 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 38px;
    line-height: 2.375rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}

.home-infoitem-note p {
	font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

.home-infoitem-img.stat {
	padding-top: 28%;
	width: 50%;
	background-image: url(../images/stat.png);
	margin-left: 30px;
}

.home-infoitem-img.lock {
	padding-top: 28%;
	width: 41%;
	background-image: url(../images/lock.png);
	border: 10px solid #ffffff;
	border-radius: 12px;
	box-shadow: 1px 1px 30px #d3d2d2;
	margin-left: 30px;
}

.home-infoitem-img.devs {
	padding-top: 28%;
	width: 48%;
	background-image: url(../images/devs.png);
}

.main-home-block3 {
	width: 100%;
	padding: 40px;
	background: #3095d3; ##linear-gradient(90deg, #55b070 0%, #3b9768 100%);
}

.main-home-reg {
	width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 15px 30px 15px;
}

.reg-title h2 {
	font-size: 28px;
    font-size: 1.75rem;
    line-height: 38px;
    line-height: 2.375rem;
    color: #ffffff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}

.reg-title p {
	font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-bottom: 20px;
}

.reg-form .form-items {
	position: relative;
    max-width: 460px;
    margin: 20px auto 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.reg-form legend {
	position: absolute;
    left: -9999px;
}

.field-item {
	position: relative;
	margin-bottom: 15px;
}

.field-item img {
	position: absolute;
	top: 12px;
	left: 10px;
}

.reg-form input {
	display: block;
    width: 100%;
    font-size: 14px;
    font-size: .875rem;
    line-height: 21px;
    line-height: 1.3125rem;
    color: #586062;
    border: 0;
    border-radius: 3px;
    outline: none;
    padding: 12px 10px 10px 50px; 
}

.reg-form .legal {
    font-size: 12px;
    font-size: .75rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 15px;
}

.reg-form .legal a {
	color: #fff;
	text-decoration: underline;
}

.reg-form .reg-button {
	display: block;
    width: 100%;
    color: #fff;
    border-color: #fff;
    border-radius: 4px;
    background: transparent;
    border: 1px solid;
    transition: .2s background ease-out, .2s color ease-out, .2s border-color ease-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    padding: 15px 15px 12px;
    padding: .9375rem .9375rem .75rem;
}

.reg-form .reg-button:hover, .reg-form .reg-button:focus
{
	color: #3095d3;
	background-color: rgba(255,255,255,0.9);
	border-color: rgba(255,255,255,0.8);
	transition:.2s background ease-out, .2s color ease-out, .2s border-color ease-out;
}

.reg-form .reg-button:active {
	color: #2b87bf;
	background: rgba(255,255,255,0.9);
	border-color: rgba(255,255,255,0.6);
	transition:.2s background ease-out, .2s color ease-out, .2s border-color ease-out;
}

.main-home-footer {
	width: 100%;
	text-align: left;
    background: #e8e8e8;
    padding: 25px 0 20px;
}

.home-footer-bar {
	position: relative;
	width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.home-footer-bar .footer-legal-links {
	position: absolute;
    top: -3px;
    left: 15px;
    width: auto;
    overflow: hidden;
	list-style: none;
    margin: 0;
    padding: 0;
}

.home-footer-bar .footer-legal-links li:first-child {
	padding-left: 0;
}
.home-footer-bar .footer-legal-links li {
	position: relative;
    float: left;
    text-align: left;
    font-size: 12px;
    font-size: .75rem;
    line-height: 25px;
    line-height: 1.5625rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    padding: 0 13px 0 12px;
}

.home-footer-bar .footer-legal-links li:before {
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	width: 1px;
	height: 12px;
	background: #586062;
	margin-right: 5px;
}

.home-footer-bar .footer-legal-links li:first-child:before {
	display:none;
}

.home-footer-bar .footer-legal-links li:last-child {
	padding-right:0;
}

.footer-legal-links a {
	color: #586062;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	font-size: 12px;
	font-size: .75rem;
	-webkit-transition: border .2s ease-in-out 0s;
	-moz-transition: border .2s ease-in-out 0s;
	-o-transition: border .2s ease-in-out 0s;
	transition: border .2s ease-in-out 0s;
}

.footer-legal-links a:focus, .footer-legal-links a:hover {
	text-decoration: underline;
}

.home-footer-bar .footer-copyright {
	text-align: right;
    font-size: 12px;
    font-size: .75rem;
    line-height: 16px;
    line-height: 1rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    vertical-align: top;
}

/***home page css end***/

/***tagMg page css begin***/

.tag-title-div {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #3095d3;
}


.tag-title-div span {
	position: relative;
	float: right;
	display: block;
	height: 60px;
	width: 120px;
	text-align: center;
	background: #f5f8fa!important;
    border: 1px solid #3095d3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-color: transparent;
    margin-right: 41px;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 3px;
    cursor: default;
}

.tag-table-div {
	width: 1140px;
	max-width: 100%;
}

.tag-table {
	width: 100%;
	margin: 0 0 40px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 18px;
	line-height: 1.125rem;
	font-weight: 300;
	##border-collapse: collapse;
}

.tag-table th {
	height: 50px;
	border-bottom: 1px solid #3095d3;
	text-align: left;
	padding-left: 5px;
	font-weight: 100;
	color: #a5a5a5;
}

.tag-table .column-sort {
	margin-left: 3px;
    display: inline-block;
    width: 12px;
    height: 14px;
    vertical-align: middle;
    text-align: center;
}

.tag-table th .sort-up, .tag-table th .sort-down {
	line-height: 4px;
    display: block;
    cursor: pointer;
}

.tag-table th .sort-up.off {
	margin-bottom: 3px;
	content: url(../images/triangleUp.png);
}

.tag-table th .sort-up.on {
	margin-bottom: 3px;
	content: url(../images/triangleUp2.png);
}

.tag-table th .sort-down.off {
	content: url(../images/triangleDown.png);
}

.tag-table th .sort-down.on {
	content: url(../images/triangleDown2.png);
}

.tag-table tr:nth-child(even) {
	background: #ffffff;
}

.tag-table td {
	height: 60px;
	text-align: left;
	font-weight: 400;
	padding-left: 2px;
}


.tag-table tr:hover td {
	background: #e8f5fd;
}

.tag-table .name {
	min-width: 40%;
	white-space:nowrap;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tag-table .amount {
	width: 30%;
	max-width: 30%;
	min-width: 15%;
	padding-left: 10px;
}

.tag-table .desp {
	width: 40%;
	max-width: 40%;
	min-width: 20%;
	word-wrap: break-word;
	word-break: break-all;
	padding-left: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.tag-table .desp .tag-desp-btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: #9eadb7;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
    background-color: transparent;
    border-color: #d9d9d9;
    border-style: dashed;
}

.tag-table .desp .tag-desp-btn:hover,.tag-table .desp .tag-desp-btn:focus,.tag-table .desp .tag-desp-btn:active {
	color:#1da1f3;
	outline: 0;
	background-color:#f7f7f7;
	border-color:#1da1f3;
}

.tag-desp-add-icon {
	display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.tag-desp-add-icon:before {
	display: block;
    font-family: anticon!important;
}

.icon-code:before {
	font-size: 14px;
	font-size: 0.875rem;
	content: "\E645";
}

.tag-desp-input-div {
	position: relative;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.tag-desp-inputbox {
	position: relative;
    z-index: 2;
    float: left;
    width: 80%;
    margin-bottom: 0;
    display: inline-block;
    padding: 4px 7px;
    height: 34px;
    cursor: text;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tag-desp-input-btn {
	padding: 7px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #1da1f3;
    text-align: center;
    background-color: #eee;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tag-desp-input-btn a:active {
	color: #1b91db;
}

.tag-table td .label {
	margin: 0;
}

.tag-table .name > div {
	position: relative;
	float: left;
}



.tag-table .name .usual-label-icon-div {
	position: relative;
	float: right;
}

.tag-table .name .usual-label-icon-div + span {
	margin-right: 2px;
}

.tag-table .name .usual-label-icon-div .usual-icon {
	position: absolute;
	transition: all .5s;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.tag-table .name .usual-label-icon-div .usual-icon:before {
	font-size: 12px;
    font-size: 0.75rem;
    color: #1da1f3;
    content: "\E660";
}

.tag-table .name .usual-label-icon-div .usual-icon:hover {
	font-size: 14px;
    font-size: 0.875rem;
    color: #5fc2ff;
    -webkit-transform:scale(1.4);-ms-transform:scale(1.4);transform:scale(1.4);
	display:block;
}

.tag-table .name .usual-label-icon-div .usual-text {
	position: absolute;
	padding-left: 2px;
	margin: 0;
	display: none;
	color: #a5a5a5;
	transition: 1s;
}

.tag-table .name .usual-label-icon-div .usual-icon:hover + .usual-text {
	position: absolute;
	top: 0px;
	left: 12px;
	width: 100px;
	display: block;
	font-size: 12px;
    font-size: 0.75rem;
    font-weight: 200;
}

.tag-page-control {
	position: absolute;
	left: 50%;
	margin: 40px 0 20px;
	text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.tag-page-control ul {
	position: relative;
    max-width: 600px;
    margin: 0 auto 0 auto;

	padding: 0;
	list-style-type: none;
}

.tag-page-control ul li {
	display: block;
	float: left;
	border: none;
	font-size: 14px;
	cursor: pointer;
	margin-right: 8px;
}

.tag-page-control .prev-page {
	margin-top: 2px;
	padding-right: 2px;
}

.tag-page-control .useful {
	color: #1da1f3;
}

.tag-page-control .prev-page:before {
	content: "\E620";
}

.tag-page-control .next-page {
	margin-top: 2px;
}

.tag-page-control .next-page:before {
	content: "\E61F";
}

.tag-page-control .page-num {
	font-size: 14px;
	font-size: 0.875rem;
}

.tag-page-control ul li a {
	color: #1da1f3;
	text-decoration: underline;
	margin: 0 5px;
}
/***tagMg page css end***/


/***upload css begin***/
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: anticon!important;
}
.anticon-eye-o:before {
    content: "\E688";
}
.anticon-paper-clip:before {
  ##content: "\E676";
}
.anticon-download:before {
	content: "\E6B7";
}
.ant-upload-list {
  overflow: hidden;
}
.ant-upload-list-item {
  overflow: hidden;
  margin-top: 8px;
  font-size: 12px;
}
.ant-upload-list-item-info {
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.ant-upload-list-item-info .anticon-paper-clip {
  margin: 10px 4px 0 20px;
  width: 100%;
  height: 38px;
  background: url(../images/attachIcon.png) no-repeat 0px 0px;;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: #e7f4fd;
}
.ant-upload-list-picture .ant-upload-list-item,
.ant-upload-list-picture-card .ant-upload-list-item {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  height: 66px;
  position: relative;
}
.ant-upload-list-picture .ant-upload-list-item:hover,
.ant-upload-list-picture-card .ant-upload-list-item:hover {
  background: transparent;
}
.ant-upload-list-picture .ant-upload-list-item-info,
.ant-upload-list-picture-card .ant-upload-list-item-info {
  padding: 0;
}
.ant-upload-list-picture .ant-upload-list-item:hover .ant-upload-list-item-info,
.ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info {
  background: transparent;
}
.ant-upload-list-picture .ant-upload-list-item-uploading,
.ant-upload-list-picture-card .ant-upload-list-item-uploading {
  border-style: dashed;
}
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail .anticon-paper-clip-name{
	display: block;
	line-height: 15px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	##word-wrap: break-word; 
	margin-top: 10px;
	##color: #5e5d5d;
}

.ant-upload-list-picture .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.ant-upload-list-picture .ant-upload-list-item-thumbnail img,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  width: 48px;
  height: 48px;
  display: block;
  overflow: hidden;
  border-radius: 2px;
}
.ant-upload-list-picture .ant-upload-list-item-thumbnail.anticon:before,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail.anticon:before {
  line-height: 48px;
  font-size: 24px;
  color: #999;
}
.ant-upload-list-picture .ant-upload-list-item-name,
.ant-upload-list-picture-card .ant-upload-list-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 8px;
  line-height: 44px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 48px;
  padding-right: 8px;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
.ant-upload-list-picture .ant-upload-list-item-uploading .ant-upload-list-item-name,
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-name {
  line-height: 28px;
}
.ant-upload-list-picture .ant-upload-list-item-progress,
.ant-upload-list-picture-card .ant-upload-list-item-progress {
  padding-left: 56px;
  margin-top: 0;
}
.ant-upload-list-picture-card {
  display: inline;
}
.ant-upload-list-picture-card .ant-upload-list-item {
  display: inline-block;
  width: 96px;
  height: 96px;
  margin: 0 8px 8px 0;
}
.ant-upload-list-picture-card .ant-upload-list-item-info {
  height: 100%;
  position: relative;
}
.ant-upload-list-picture-card .ant-upload-list-item-info:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  background-color: #1da1f3;###808080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-eye-o,
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-delete,
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-download {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  width: 16px;
  line-height: 1;
  color: #eee;
  opacity: 0;
  margin-top: -8px;
  margin-left: -22px;
}
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-eye-o:hover,
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-delete:hover,
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-download:hover {
  color: #fff;
}
.ant-upload-list-picture-card .ant-upload-list-item-info .anticon-delete {
  left: 50%;
  margin-left: 6px;
}
.ant-upload-list-picture-card .ant-upload-list-item-info:hover:before {
  opacity: .8;
}
.ant-upload-list-picture-card .ant-upload-list-item-info:hover .anticon-eye-o,
.ant-upload-list-picture-card .ant-upload-list-item-info:hover .anticon-delete,
.ant-upload-list-picture-card .ant-upload-list-item-info:hover .anticon-download  {
  opacity: 1;
}
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  position: static;
}
.ant-upload-list-picture-card .ant-upload-list-item-name {
  display: none;
}
.ant-upload-list-picture-card .ant-upload-list-item-uploading.ant-upload-list-item {
  background-color: #fbfbfb;
}
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info {
  height: auto;
}
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info:before,
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-eye-o,
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-delete {
  display: none;
}
.ant-upload-list-picture-card .ant-upload-list-item-uploading-text {
  margin-top: 18px;
  color: #999;
}
.ant-upload-list-picture-card .ant-upload-list-item-progress {
  padding-left: 0;
}
/***upload css end***/